AMFICOM/v1/map/xml/Collector.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="collectors" type="Collectors"/>

  <xsd:complexType name="Collectors">
    <xsd:sequence>
      <xsd:element name="collector" type="Collector" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Collector">
    <xsd:all>
      <xsd:element name="uid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="physicallinkuids" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:all>
  </xsd:complexType>

</xsd:schema>
