AMFICOM/v1/map/xml/Map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="TopologicalNode.xsd"/>
  <xsd:include schemaLocation="SiteNode.xsd"/>
  <xsd:include schemaLocation="PhysicalLink.xsd"/>
  <xsd:include schemaLocation="NodeLink.xsd"/>
  <xsd:include schemaLocation="Collector.xsd"/>

  <xsd:element name="maps" type="Maps"/>

  <xsd:complexType name="Maps">
    <xsd:sequence>
      <xsd:element name="map" type="Map" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Map">
    <xsd:all>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="uid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="topologicalnodes" type="TopologicalNodes" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sitenodes" type="SiteNodes" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="physicallinks" type="PhysicalLinks" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="nodelinks" type="NodeLinks" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="collectors" type="Collectors" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

</xsd:schema>
