AMFICOM/v1/map/xml/MapLibrary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: MapLibrary.xsd,v 1.6 2005/08/15 14:53:28 krupenn Exp $
-->
<xsd:schema 
	targetNamespace="http://syrus.com/AMFICOM/map/xml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:map="http://syrus.com/AMFICOM/map/xml"
	elementFormDefault="qualified">

  <xsd:include schemaLocation="SiteNodeType.xsd"/>
  <xsd:include schemaLocation="PhysicalLinkType.xsd"/>

  <xsd:element name="library" type="map:MapLibrary"/>

  <xsd:complexType name="MapLibrary">
    <xsd:all>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="codename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="physicallinktypes" type="map:PhysicalLinkTypes" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="sitenodetypes" type="map:SiteNodeTypes" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
	<xsd:attribute name="importtype" type="xsd:string" use="required"/>
  </xsd:complexType>
</xsd:schema>