AMFICOM/v1/map/xml/NodeLink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="nodelinks" type="NodeLinks"/>

  <xsd:complexType name="NodeLinks">
    <xsd:sequence>
      <xsd:element name="nodelink" type="NodeLink" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NodeLink">
    <xsd:all>
      <xsd:element name="uid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="physicallinkuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="startnodeuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="endnodeuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="length" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

</xsd:schema>
