AMFICOM/v1/map/xml/PhysicalLinkType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: PhysicalLinkType.xsd,v 1.8 2005/08/28 19:17:54 bass Exp $
-->
<xsd:schema 
	targetNamespace="http://syrus.com/AMFICOM/map/xml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:map="http://syrus.com/AMFICOM/map/xml"
	xmlns:general="http://syrus.com/AMFICOM/general/xml"
	elementFormDefault="qualified">

  <xsd:import namespace="http://syrus.com/AMFICOM/general/xml"/>

  <xsd:element name="physicalLinkTypes" type="map:XmlPhysicalLinkTypeSeq">

    <xsd:key name="physicalLinkTypeId">
      <xsd:selector xpath="map:physicalLinkType"/>
      <xsd:field xpath="@id"/>
    </xsd:key>

  </xsd:element>

  <xsd:simpleType name="XmlPhysicalLinkTypeSort">
      <xsd:restriction base="xsd:string">
            <xsd:enumeration value="tunnel"/>
            <xsd:enumeration value="collector"/>
            <xsd:enumeration value="indoor"/>
            <xsd:enumeration value="submarine"/>
            <xsd:enumeration value="overhead"/>
      </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="XmlPhysicalLinkType">
    <xsd:all>
      <xsd:element name="id" type="general:XmlIdentifier" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="codename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sort" type="map:XmlPhysicalLinkTypeSort" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="dimensionX" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="dimensionY" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="characteristics" type="general:XmlCharacteristicSeq" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="XmlPhysicalLinkTypeSeq">
    <xsd:sequence>
      <xsd:element name="physicalLinkType" type="map:XmlPhysicalLinkType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
