AMFICOM/v1/map/xml/PhysicalLinkType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	targetNamespace="http://syrus.com/AMFICOM/map/xml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:map="http://syrus.com/AMFICOM/map/xml"
	xmlns:gen="http://syrus.com/AMFICOM/general/xml"
	elementFormDefault="qualified">

  <xsd:import namespace="http://syrus.com/AMFICOM/general/xml"/>

  <xsd:include schemaLocation="Characteristic.xsd"/>

  <xsd:element name="physicallinktypes" type="map:PhysicalLinkTypes">

    <xsd:key name="physicallinktypeuid">
      <xsd:selector xpath="map:physicallinktype"/>
      <xsd:field xpath="@uid"/>
    </xsd:key>

  </xsd:element>

  <xsd:complexType name="PhysicalLinkTypes">
    <xsd:sequence>
      <xsd:element name="physicallinktype" type="map:PhysicalLinkType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PhysicalLinkType">
    <xsd:all>
      <xsd:element name="uid" type="gen:UID" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sort" type="map:PhysicalLinkTypeSort" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="dimension_x" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="dimension_y" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="characteristics" type="map:Characteristics" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:simpleType name="PhysicalLinkTypeSort">
      <xsd:restriction base="xsd:string">
            <xsd:enumeration value="tunnel"/>
            <xsd:enumeration value="collector"/>
            <xsd:enumeration value="indoor"/>
            <xsd:enumeration value="submarine"/>
            <xsd:enumeration value="overhead"/>
      </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
