AMFICOM/v1/map/xml/SiteNodeType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: SiteNodeType.xsd,v 1.8 2005/08/25 15:41:02 krupenn Exp $
-->
<xsd:schema 
	targetNamespace="http://syrus.com/AMFICOM/map/xml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:map="http://syrus.com/AMFICOM/map/xml"
	xmlns:gen="http://syrus.com/AMFICOM/general/xml"
	elementFormDefault="qualified">

  <xsd:import namespace="http://syrus.com/AMFICOM/general/xml"/>

  <xsd:element name="sitenodetypes" type="map:SiteNodeTypes">

    <xsd:key name="sitenodetypeuid">
      <xsd:selector xpath="map:sitenodetypes/map:sitenodetype"/>
      <xsd:field xpath="@uid"/>
    </xsd:key>

  </xsd:element>

  <xsd:complexType name="SiteNodeTypes">
    <xsd:sequence>
      <xsd:element name="sitenodetype" type="map:SiteNodeType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SiteNodeType">
    <xsd:all>
      <xsd:element name="uid" type="gen:UID" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="codename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sort" type="map:SiteNodeTypeSort" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="topological" type="xsd:boolean" minOccurs="1" maxOccurs="1" fixed="true"/>
      <xsd:element name="image" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="characteristics" type="gen:Characteristics" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:simpleType name="SiteNodeTypeSort">
      <xsd:restriction base="xsd:string">
            <xsd:enumeration value="well"/>
            <xsd:enumeration value="piquet"/>
            <xsd:enumeration value="cableinlet"/>
            <xsd:enumeration value="building"/>
            <xsd:enumeration value="tower"/>
            <xsd:enumeration value="ats"/>
      </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
