AMFICOM/v1/map/xml/SiteNode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="SiteNodeType.xsd"/>

  <xsd:element name="sitenodes" type="SiteNodes"/>

  <xsd:complexType name="SiteNodes">
    <xsd:sequence>
      <xsd:element name="sitenode" type="SiteNode" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SiteNode">
    <xsd:all>
      <xsd:element name="uid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="type" type="SiteNodeType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="x" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="y" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="city" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="street" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="building" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="characteristics" type="Characteristics" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

</xsd:schema>
