AMFICOM/v1/config/xml/PortType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: PortType.xsd,v 1.1 2005/08/25 11:40:59 bass Exp $
-->
<xsd:schema 
	targetNamespace="http://syrus.com/AMFICOM/config/xml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:config="http://syrus.com/AMFICOM/config/xml"
	xmlns:gen="http://syrus.com/AMFICOM/general/xml"
	elementFormDefault="qualified">

  <xsd:import namespace="http://syrus.com/AMFICOM/general/xml"/>

  <xsd:element name="porttypes" type="config:PortTypes">

    <xsd:key name="porttypeuid">
      <xsd:selector xpath="config:porttype"/>
      <xsd:field xpath="@uid"/>
    </xsd:key>

  </xsd:element>

  <xsd:complexType name="PortTypes">
    <xsd:sequence>
      <xsd:element name="porttype" type="config:PortType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PortType">
    <xsd:all>
      <xsd:element name="uid" type="gen:UID" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="codename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sort" type="config:PortTypeSort" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="kind" type="config:PortTypeKind" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:simpleType name="PortTypeSort">
      <xsd:restriction base="xsd:string">
            <xsd:enumeration value="optical"/>
            <xsd:enumeration value="electrical"/>
            <xsd:enumeration value="thermal"/>
      </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PortTypeKind">
      <xsd:restriction base="xsd:string">
            <xsd:enumeration value="simple"/>
            <xsd:enumeration value="cable"/>
      </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
