AMFICOM/v1/general/xml/Characteristic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: Characteristic.xsd,v 1.1 2005/08/08 13:20:38 max Exp $
-->
<xsd:schema 
	targetNamespace="http://syrus.com/AMFICOM/general/xml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:general="http://syrus.com/AMFICOM/general/xml"
	elementFormDefault="qualified">

  <xsd:complexType name="Characteristics">
    <xsd:sequence>
      <xsd:element name="characteristic" type="general:Characteristic" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Characteristic">
      <xsd:attribute name="typecodename" type="xsd:string" use="required"/>
      <xsd:attribute name="value" type="xsd:string" use="required"/>
      <xsd:attribute name="editable" type="xsd:boolean" use="required"/>
      <xsd:attribute name="visible" type="xsd:boolean" use="required"/>
      <xsd:attribute name="sort" type="general:CharacteristicTypeSort" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:simpleType name="CharacteristicTypeSort">
      <xsd:restriction base="xsd:string">
            <xsd:enumeration value="visual"/>
            <xsd:enumeration value="operational"/>
            <xsd:enumeration value="interface"/>
            <xsd:enumeration value="electrical"/>
            <xsd:enumeration value="optical"/>
      </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
