AMFICOM/v1/general/xml/CharacteristicType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: CharacteristicType.xsd,v 1.1 2005/08/15 13:58:41 max Exp $
-->
<xsd:schema 
	targetNamespace="http://syrus.com/AMFICOM/general/xml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:general="http://syrus.com/AMFICOM/general/xml"
	elementFormDefault="qualified">

  <xsd:complexType name="CharacteristicTypes">
    <xsd:sequence>
      <xsd:element name="characteristictype" type="general:CharacteristicType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CharacteristicType">
    <xsd:all>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="codename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sort" type="general:CharacteristicTypeSort" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="datatype" type="general:DataType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="editable" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="visible" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:simpleType name="CharacteristicTypeSort">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="visual"/>
      <xsd:enumeration value="operational"/>
      <xsd:enumeration value="interface"/>
      <xsd:enumeration value="electrical"/>
      <xsd:enumeration value="optical"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DataType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="integer"/>
      <xsd:enumeration value="double"/>
      <xsd:enumeration value="string"/>
      <xsd:enumeration value="date"/>
      <xsd:enumeration value="long"/>
      <xsd:enumeration value="raw"/>
      <xsd:enumeration value="boolean"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
